@font-face {
    font-family: "MyriadPro";
    src: url("../fonts/MyriadPro/MyriadPro.eot");
    src: url("../fonts/MyriadPro/MyriadPro.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadPro/MyriadPro.woff") format("woff"),
    url("../fonts/MyriadPro/MyriadPro.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	box-sizing: border-box;
}
html {
	line-height: 1.17;
}
body {
	height: 2000px;
	background: #fff;
	color: #333;
	font-family: "MyriadPro", sans-serif;
	font-size: 0.75rem;
	font-weight: 400;
}
h1 {
	font-size: 1.5rem;
	font-weight: 400;
}
h2 {
	font-size: 1.125rem;
	font-weight: 400;
}
.page-wrap {
	position: relative;
	width: 563px;
	margin: 200px auto 50px;
}
.generic-page {
	width: 523px;
	padding: 28px 32px;
	border: 2px solid #000;
}
.main-page {
	position: relative;
	min-height: 730px;
	background-color: #ebebeb;
}
.prototype-page {
	position: absolute;
	height: 100%;
}
.prototype-page:nth-child(1) {
	top: 40px;
	left: 40px;
	background-color: #acacac;
}
.prototype-page:nth-child(2){
	top: 20px;
	left: 20px;
	background-color: #ccc;
}
.bookmark {
	position: absolute;
	top: 40px;
	right: -82px;
	width: 107px;
	height: 31px;
	border: 2px solid #000;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}
.main-page .bookmark {
	background-color:  #f68e56;
}
.prototype-page:nth-child(1) .bookmark {
	right: -22px;
	background-color:  #00aeef;
}
.prototype-page:nth-child(2) .bookmark {
	right: -52px;
	background-color:  #39b54a;
}
.inf-content-item {
	margin-bottom: 5px;
}
.inf-content-item p {
	margin: 14px 0;
}
.inf-content-item img + p {
    margin-bottom: 0;
}
.inf-content-item p + p {
    margin-top: 0;
    margin-bottom: 0;
}
.inf-content-item:after,
.img-content-item:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.inf-content-item img {
	margin-bottom: 14px;
	margin-top: 14px;
}
.inf-content-item img:nth-child(1) {
	margin-top: 0;
}
.inf-content-item img:nth-of-type(odd) {
	float: left;
	margin-right: 21px;
	clear: both;
}
.inf-content-item img:nth-of-type(even) {
	float: right;
	margin-left: 6px;
	clear: both;
}
.img-content h2 {
	margin-bottom: 21px;
}
.img-content-item img {
	margin-bottom: 14px;
}
.img-content-item img:nth-of-type(odd) {
	float: left;
}
.img-content-item img:nth-of-type(even) {
	float: right;
}
footer {
	margin-top: 14px;
	text-align: center;
}
.social-links {
	position: fixed;
	right: 2px;
	bottom: 2px;
	padding: 7px 6px;
	background-color:  #fbaf5d;
	border: 1px solid #362f2d;
}
.social-links h2 {
	margin: 4px 0 9px;
	font-size: 1rem;
	text-align: center;
}
.social-icon {
    width: 20px;
    height: 20px;
    margin-right: 4px;
    display: inline-block;
    background: #000 url(../img/sprite-icon.png) no-repeat;
    background-size: 240%;
    border-radius: 100%;
}
.social-icon.facebook {
	background-color: #4e71a8;
    background-position: -30px;
}
.social-icon.twitter {
	background-color: #1cb7eb;
    background-position: 2px;
}
.social-icon.instagram {
	background-color: #343434;
    background-position: -15px;
}
.social-icon:last-child {
    margin-right: 0;
}